.church-image {
  min-width: 100%;
  min-height: auto;
  max-width: 100%;
  max-height: auto;
}

.start-video {
  margin-top: 20px;
}

.text {
  margin-top: 20px;
  margin-bottom: 20px;
}

.video-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
