
<img class="church-image" src="../../assets/Images/church-image.jpg"/>
<mat-card class="start-video">
  <mat-card-content>
    <div class="video-container">
      <iframe class="video" width="800" height="400" src="https://www.youtube.com/embed/6WtV1XtqsW0"></iframe>
    </div>
    </mat-card-content>
  </mat-card>

    <mat-card class="text">
      <mat-card-content>
      <p class="about-us">
        Lorem ipsum dolor,
          sit amet consectetur
          adipisicing elit.
          Molestiae officiis rerum dolor,
          nostrum corrupti, minima consequuntur, reprehenderit atque facilis quae harum reiciendis? Adipisci corrupti fugit hic nam, incidunt similique nostrum!
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. A sequi recusandae consequatur nobis voluptates fugit est ut ipsam deserunt, rerum animi ipsa, perferendis corrupti ab! Quis, ab ipsam! Quam, labore.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem fugit similique nobis quos, repellat vero magnam dignissimos saepe quidem alias assumenda, animi ratione. Pariatur magni inventore non molestias illum enim?
      </p>
    </mat-card-content>
  </mat-card>

